html {
    min-height: 100%
}
/* gradient is bad for repainting */
body {
    background: rgba(17,17,17,1);
    background: -moz-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 24%, rgba(28,28,28,1) 58%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17,17,17,1)), color-stop(24%, rgba(17,17,17,1)), color-stop(58%, rgba(28,28,28,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 24%, rgba(28,28,28,1) 58%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 24%, rgba(28,28,28,1) 58%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 24%, rgba(28,28,28,1) 58%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 24%, rgba(28,28,28,1) 58%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#000000', GradientType=0 );
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
p {
    font-size: 1.5em;
    margin: 20px 30px;
}
.demo-container {
    position:relative;
    text-align: center;
    opacity: 0;
    -webkit-animation: fadeIn 2s linear 1s forwards;
    -moz-animation: fadeIn 2s linear 1s forwards;
    animation: fadeIn 2s linear 1s forwards;
}
#chart {
    width: 800px;
    height: 200px;
    position: fixed;
    bottom: 50px;
    left: 50%;
    margin-left: -400px;
}
#video {
    position: absolute;
    opacity: 1;
    width: auto;
    max-width: 70vw;
    height: 50vh;
    min-height: 50vh;
    max-height: 50vh;
    will-change: opacity;
}
#animation-layer {
    position: absolute;
    top: 0;
    left: 0;
}
.inner-magic-layer {
    position: absolute;
    top: 0;
    left: 0;
}
.magictime {
    /* Do not use GPU because of so much cpu consumption. */
    position: absolute;
    border-radius: 50%;
    background-color: silver;
    opacity: 0;
    will-change: opacity, transform, filter;
}
.magictime.sm {
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
}
.magictime.md {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
}
.magictime.lg {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
}
/* http://codepen.io/FelixRilling/pen/qzfoc */
.magictime.pink {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px 10px #FF1177;
}
.magictime.blue {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px 10px #228DFF;
}
.magictime.yellow {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px 10px #FFDD1B;
}
.magictime.green {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px 10px #B6FF00;
}
.magictime.orange {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px 10px #FF9900;
}
.magictime.violet {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px 10px #ff00de;
}

.dg.ac {
    z-index: 1000;
}

.demo-title {
    color: white;
    position: relative;
    z-index: 10;
    overflow: hidden;
    padding: 10px 30px;
}
.demo-title a {
    position: relative;
    text-decoration: none;
    color: transparent;
    font-family: Monoton;
}
/* use pseudo-element prevent from unnecessary repainting */
.demo-title a:after {
    position: absolute;
    left: 0;
    content: "yeah.js";
    color: #fff;
    font-family: Monoton;
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
}
.demo-title a:hover {
    color: #FF1177;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}
.demo-title a:hover:after {
    color: #FF1177;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}
@-webkit-keyframes neon {
    from {text-shadow: 0 0 5px #fff, 0 0 10px #FF5ea3, 0 0 15px #FF1177, 0 0 20px #FF1177;}
    to {text-shadow: 0 0 2px #fff, 0 0 5px #FF5ea3, 0 0 7px #FF1177, 0 0 10px #FF1177;}
}
@-moz-keyframes neon {
    from {text-shadow: 0 0 5px #fff, 0 0 10px #FF5ea3, 0 0 15px #FF1177, 0 0 20px #FF1177;}
    to {text-shadow: 0 0 2px #fff, 0 0 5px #FF5ea3, 0 0 7px #FF1177, 0 0 10px #FF1177;}
}
@keyframes neon {
    from {text-shadow: 0 0 5px #fff, 0 0 10px #FF5ea3, 0 0 15px #FF1177, 0 0 20px #FF1177;}
    to {text-shadow: 0 0 2px #fff, 0 0 5px #FF5ea3, 0 0 7px #FF1177, 0 0 10px #FF1177;}
}

@-webkit-keyframes fadeIn {
    0%   {opacity: 0}
    100% {opacity: 1}
}
@-moz-keyframes fadeIn {
    0%   {opacity: 0}
    100% {opacity: 1}
}
@keyframes fadeIn {
    0%   {opacity: 0}
    100% {opacity: 1}
}

/* puffIn + puffOut to prevent from triggering animationEnd event */
.puffInOut {
    animation-name: puffInOut;
    -webkit-animation-name: puffInOut;
    -moz-animation-name: puffInOut;
}
@keyframes puffInOut {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(1.5, 1.5);
        filter: blur(2px);
    }
    50% {
        opacity: 0.8;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        filter: blur(0px);
    }
    100% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(1.5, 1.5);
        filter: blur(2px);
    }
}
@-webkit-keyframes puffInOut {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(1.5, 1.5);
        -webkit-filter: blur(2px);
    }
    50% {
        opacity: 0.8;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(1,1);
        -webkit-filter: blur(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(1.5, 1.5);
        -webkit-filter: blur(2px);
    }
}
@-moz-keyframes puffInOut {
    0% {
        opacity: 0;
        -moz-transform-origin: 50% 50%;
        -moz-transform: scale(1.5, 1.5);
        -moz-filter: blur(2px);
    }
    50% {
        opacity: 0.8;
        -moz-transform-origin: 50% 50%;
        -moz-transform: scale(1, 1);
        -moz-filter: blur(0px);
    }
    100% {
        opacity: 0;
        -moz-transform-origin: 50% 50%;
        -moz-transform: scale(1.5, 1.5);
        -moz-filter: blur(2px);
    }
}

/* for smartphone or tablet */
@media (max-width: 1020px) {
    p {
        font-size: 2vh;
        margin: 20px 0px 0px;
    }
    #video {
        min-width: 90vw;
        max-width: 90vw;
        height: auto;
        min-height: auto;
    }
    #chart {
        width: 90%;
        height: 30%;
        position: fixed;
        bottom: 50px;
        left: 5%;
        margin-left: 0px;
    }
    .dg {
        font-size: 12px;
    }
    .dg .property-name {
        width: 50%;
    }
    .dg .c {
        width: 50%;
    }
    .dg.main.a {
        width: 90vw !important;
    }
    .dg.main.a > .close-button {
        width: 90vw !important;
    }
    .dg li:not(.folder) {
        height: 35px;
        line-height: 35px;
    }
    .dg.main .close-button {
        background-color: #333;
    }
    .dg.main .close-button:hover {
        background-color: #333;
    }
}
